.top-title{
    font-size:30px;
    text-align:center;
}
.top-subtitle h1{
    font-size:20px;
    text-align:center;
}

head{
    position:absolute;
    margin:0 auto;
    
}

.column{
    width:500px;
    margin:20px auto 20px 150px;
}

.column h2{
    color:rgba(224, 30, 215, 0.8);
}


.column h3{
    color:rgba(248, 159, 58, 0.8);
}
